.latestNews{
    height:650px;
    position: relative;
    .latestNewsContents{
        max-width: 1240px;
        margin: 0 auto;
        .heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1{
                position: relative;
            &::after{
                content:" ";
                height:2px;
                width:420%;
                background-color: gray;
                display: block;
                position: absolute;
                right:0;
                left:150%;
                top:50%;
            }
            }
            .viewAll{
                color:orangered;
                transition: color 300ms ease-in-out;
                &:hover{
                    cursor: pointer;
                    color:#5e8b7e;
                }
            }
        }
        .newsContainerWrapper{
            display: flex;
            gap:2.4rem;
            .newsContainer{
                margin-top: 2rem;
                max-width: calc(1240px / 4.4);
                display: flex;
                flex-direction: column;
                gap:0.8rem;
                .newsImage{
                    height:180px;
                }
                .newsHeadline{
                    font-size: 18px;
                    line-height: 1.4;
                    min-height: 80px;
                }
                .newsContent{
                    color: gray;
                    font-size: 15.5px;
                    text-align: justify;
                    line-height: 1.5;
                }
                .readMore{
                    display: inline-flex;
                    align-items: center;
                    gap:0.3rem;
                    color:orangered;
                    font-weight: 500;  
                    font-size: 15px; 
                    position: absolute;
                    bottom:40px;
                    &:hover{
                        cursor: pointer;
                        color:#5e8b7e;
                    }       
                }
            }
        }
    }
}