.categories{
    border:2px solid rgba(160, 145, 145,0.4);
    padding:22px 15px;
    height:600px;
    border-radius: 15px;
    .categoriesContents{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap:2rem;
        .header{
            text-align: center;
            font-size: 25px;
            font-weight: 700;
            padding-bottom: 1rem;
            border-bottom: 2px solid rgba(122, 112, 112,0.3);
        }
        .contents{
            display: flex;
            gap:2rem;
            flex-direction: column;
            .link{
                padding-left: 10px;
                padding-right: 10px;
                font-weight: 600;
                font-size: 18px;
                height:30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 1rem;
                border-bottom: 2px solid rgba(122, 112, 112,0.3);
                &:hover{
                    cursor: pointer;
                }
                &:nth-last-child(1){
                    border-bottom: none;
                }
            }
        }
    }
}