.trending{
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    .trendingContents{
        .trendingLinks{
            display: flex;
            gap:2rem;
            .link{
                font-size: 20px;
                color:#333;
                &.active{
                    font-weight: 600;
                }
                &:hover{
                    color:#CC0000;
                    cursor: pointer;
                }
            }
        }
    }
}